@import "pony-detail";
@import "pony-list-item";
@import "accordion";
$col-count:12;

*
{
  box-sizing: border-box;
}

@for $i from 1 to  $col-count+1
{

  .col-#{$i}
    {
      width: 100%/$col-count*$i;
      float: left;
      padding: 10px
    }
}

.color
{
  height: 16.6667%;
}
leaflet-map
{
  &>div
  {
    height: 100%;
  }
}
