pony-list-item
{
  display: flex;
  align-items: center;
  h2
  {
  
    display: inline;
  }
  .color {

    width:  10vh;
    padding: 0px;
    min-width: 50px;
    min-height: 50px;
  }
  .img
  {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
  }
}
